.official {
    color: rgb(4, 22, 223);
    
}

.cv {
    color: rgba(137, 43, 226, 0.593);
}

.diagon {
    color: brown;
}

.lord {
    background: rgba(46, 180, 55, 0.363);
    color: rgb(3, 35, 23)
}

.JK {
    color: rgb(213, 21, 21);
}